:root {
    --primary-rest-dark: #3D5A80;
    --primary-rest: #98C1D9;
    --primary-rest-light: #d8e8f54d;
    --primary-dark: #051D40;
    --primary-light: #E0FBFC;
    --primary-focus: #EE6C4D;

    --basic-black: #000000;
    --basic-dark: #181D31;
    --basic-white: #bdcadb;
    --basic-white-white: white;
}

.page {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 300;

}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}

.block-center {
    margin-right: auto;
    margin-left: auto;
}


.grid-main-content {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

h1, h2, h3 {
    margin: 10px 5px;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--primary-rest-dark);
}

.text-rest-dark {
    color: var(--primary-rest-dark);
}

.bg-black {
    background-color: var(--basic-black);
}

.w-100 {
    width: 100%;
}

.m-lr-0 {
    margin-left: 0;
    margin-right: 0;
}

.m-tb-1{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.btn-base {
    color: var(--basic-white-white);
    background-color: var(--primary-dark);
    border: 0 solid;
}

.btn-base:focus,
.btn-base:hover {
    background-color: var(--primary-rest-dark);
}

.btn-light {

}
.btn-default {
    border: 0 solid;
    background: transparent;
    color: var(--basic-white-white);
}
.bg-light-card {
    border: 0 solid;
    background-color: var(--primary-rest-light);
}

.custom-lik {
    font-weight: 600;
    text-decoration: none;
    color: var(--primary-rest-dark);
}

.btn-white {
    align-items: center;
    font-size: 16px;
    background-color: var(--basic-white-white);
    border: 3px solid var(--basic-white-white);
    color: var(--primary-dark);
}


.btn-white:hover,
.btn-white:focus,
.btn-white:active {
    font-size: 16px;
    background-color: var(--primary-rest);
    border: 3px solid var(--primary-dark);
    color: var(--primary-dark);
}

.base-input {
    width: 100%;
    background-color: var(--basic-white-white);
}

/*LOGO*/
.container-logo {
    width: 80px;
    height: 80px;
}

.container-long-logo {
    width: 265px;
}

.content-center {
    justify-content: center;
}


/*HEADER*/
.header-container {
    background-color: var(--basic-white-white);
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation-core {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.img-logo {
    width: 9em;
}

.li-mag-l-30 {
    margin-left: 30px;
}

/*LADING*/
.search-content {
    background-color: var(--basic-white-white);
}

/*SEARCH HOTEL*/

.container-search {
    position: relative;
}

.content-search-text {
    top: 0;
    bottom: 0;
    right: auto;
    left: auto;
    position: absolute;
}


.main-fon-img {
    height: 90vh;
}

.img-fon {
    opacity: 0.6;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-container {
    top: 50%;
    right: 0;
    left: 0;
    position: absolute;
    width: fit-content;
}

.form-control {
    background-color: transparent;
}

.form-search-position {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.search-btn {
    background-color: var(--primary-dark);
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: solid 0;
}

.search-btn:focus,
.search-btn:hover {
    background-color: var(--primary-rest-dark);
}

.bi-search {
    width: 1.5em;
    height: 1.5em;
    color: var(--basic-white-white);
}

.i-size-search {
    height: 3em;
    width: 1.5em;
}


/*POPULAR НАПРАВЛЕНИЯ*/

.container-popular {
    gap: 1.5em;
}

.card-city {
    background-color: var(--basic-white-white);
    width: 30rem;
}

/*FOOTER*/

.footer-container {
    background-color: var(--primary-dark);
    color: var(--basic-white-white);
}

/*SEARCH HOTEL*/
.content-mini-search {
    height: 61vh;
    margin-top: 1.5em;
}

.header-search {
    color: var(--basic-white-white);
    text-transform: uppercase;
    font-weight: bold;
}


.img-fon-mini {
    height: 61vh;
}

/*FILTER*/
.btn-primary-soft-check {
    margin-bottom: 0.5em;
}

/*RANGE PRISE*/
.rang-template {
    width: 100%;
}

.input-with-range-min {
    border: 0 solid;
    background-color: transparent;
    width: 8.5em;
    color: var(--primary-rest-dark);
}

.rang-max {
    text-align: end;
}

/*LIST HOTEL*/
.container-list-hotel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5em;
    padding: 0;
    margin-top: 2em;
}

/*HOTEL LIST*/
.point {
    background: var(--basic-white);
    border-radius: 50%;
    width: 5px;
    height: 5px;
    margin: 0 1em 0 0;
}

.nav-divider {
    margin: 0 1em 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--basic-white);
}

.card-footer {
    border: 0 solid;
    background-color: transparent;
}

.card-title {
    margin: 1.5em 0 0.5em 0;
    font-size: 24px;
}

.prise {
    font-size: 26px;
}

.card {
    border: 0 solid;
}
